doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Yesheng Liang')

        title Yesheng Liang's Homepage

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        link(href='https://fastly.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Yesheng Liang
                //- span.d-none.d-lg-block
                //-     img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Yesheng 
                        span.text-primary Liang
                    .subheading.mb-5
                        | Tsinghua University · Beijing, China
                    p.lead.mb-5
                        | I am a fourth-year undergraduate in Tsinghua University, majoring in computer science. My current research interests lie in high-performance computing and systems.
                    .social-icons
                        a.social-icon(href='https://github.com/liang2kl')
                            i.fab.fa-github
                        a.social-icon(href='/assets/CV.pdf', style='text-decoration:none')
                            b CV
                        a.social-icon(href='mailto:liangys19@mails.tsinghua.edu.cn')
                            i.fa-solid.fa-envelope
                        a.social-icon(href='https://liang2kl.github.io/blog')
                            i.fa-solid.fa-blog

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Tsinghua University
                            .subheading.mb-3 Bachelor of Science
                            div Computer Science and Technology
                            //- p GPA: 3.23
                        .flex-shrink-0
                            span.text-primary September 2019 - Expected June 2024

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Research Intern
                            .subheading.mb-3 Xtra Computing Group, National University of Singapore
                            ul
                                li 
                                    | Language Models
                                li
                                    | Federated Learning
                            p
                                | Advised by
                                a(href='https://www.comp.nus.edu.sg/~hebs/') Prof. Bingsheng He
                        .flex-shrink-0
                            span.text-primary August 2023 – Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Research Intern
                            .subheading.mb-3 Storage Research Group, Tsinghua University
                            ul
                                li 
                                    | User-Space Scheduling in HTAP Systems
                            p
                                | Advised by
                                a(href='http://storage.cs.tsinghua.edu.cn/~lu/') Prof. Youyou Lu
                        .flex-shrink-0
                            span.text-primary January 2022 – March 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Students Research Training
                            .subheading.mb-3 Institute of Trustworthy Networks and Systems, Tsinghua University
                            ul
                                li 
                                    | Indoor Positioning with Wi-Fi NICs
                            p
                                | Advised by
                                a(href='http://tns.thss.tsinghua.edu.cn/~jiliang/') Prof. Jiliang Wang
                        .flex-shrink-0
                            span.text-primary October 2020 - January 2021

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    h3.text-primary Research
                    p.mb-5
                        | My current research interests lie in
                        b high-performance computing, machine learning and systems.
                        | Specifically, I am interested in
                        b operating systems, databases, federated learning, and natural language processing.
                    h3.text-primary Programming
                    p
                        | I started my programming journey with Swift and iOS development, so building
                        b user-interactive applications
                        | is always my favorite.
                        b Server-side development
                        | is also my interest, as I have experience in Django and Flask, and I am particularly in favor of writing server programs with Go. Currently, I am
                        b building systems
                        | with Rust and C/C++.

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.devicon-c-plain
                        li.list-inline-item
                            i.devicon-cplusplus-plain
                        li.list-inline-item
                            i.devicon-swift-plain
                        li.list-inline-item
                            i.devicon-python-plain
                        li.list-inline-item
                            i.devicon-javascript-plain
                        li.list-inline-item
                            i.devicon-rust-plain
                        li.list-inline-item
                            i.devicon-go-original-wordmark
                    .subheading.mb-3 Frameworks
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.devicon-react-original
                        li.list-inline-item
                            i.devicon-django-plain
                        li.list-inline-item
                            i.devicon-qt-original
                    .subheading.mb-3 Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.devicon-git-plain
                        li.list-inline-item
                            i.devicon-cmake-plain
                        li.list-inline-item
                            i.devicon-docker-plain
                        li.list-inline-item
                            i.devicon-latex-original

                    //- .subheading.mb-3 Other
                    //- ul.fa-ul.mb-0
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Soccer
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Video Games
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Photography (a little)
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Cooking (a little)

            hr.m-0

            // Awards
            //- section#awards.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Awards & Certifications
            //-         ul.fa-ul.mb-0
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Google Analytics Certified Developer
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Mobile Web Specialist - Google Certification
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - University of Colorado Boulder - Emerging Tech Competition 2009
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 2
            //-                 sup nd 
            //-                 | Place - University of Colorado Boulder - Emerging Tech Competition 2008
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - James Buchanan High School - Hackathon 2006
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 3
            //-                 sup rd 
            //-                 | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')